mixin-flex($flex)
	width 100%
	flex $flex

mixin-standard-gradient($top, $bottom)
	background linear-gradient(to bottom, $top, $bottom)

mixin-standard-gradient-percent($top, $bottom, $percent)
	background linear-gradient(to bottom, $top, $bottom $percent, $bottom)

mixin-hover-gradient-static($active, $inactive)
	background linear-gradient(270deg, $inactive, $inactive 30%, $active 70%, $active)

mixin-hover-gradient($active, $inactive)
	mixin-hover-gradient-static($active, $inactive)	

	background-size 400%, 400%
	background-position 99%, 99%
	transition background-position .7s ease-in-out

	&:hover
		background-position 0

mixin-focus-gradient($active, $inactive)
	mixin-hover-gradient-static($active, $inactive)

	background-size 400%, 400%
	background-position 100%, 100%
	transition background-position .7s ease-in-out

	&:focus
		background-position 0

mixin-scrollbar-default()
	position relative


	&::-webkit-scrollbar
		width $scrollbar-height
		height $scrollbar-height
		position absolute
		bottom 0

	&::-webkit-scrollbar-thumb
		background $scrollbar-thumb
	&::webkit-scrollbar-track
		background $scrollbar-background
