extends theme
block content
	.container.lg
		h1 Elements

		h2 Headings

		h1 Header 1
		h2 Header 2
		h3 Header 3
		h4 Header 4
		h5 Header 5
		h6 Header 6

		pre(data-lang="HTML")
			code
				| &lt;h1>Header 1&lt;/h1>

		h2 Paragraphs

		p Lorem ipsum dolor sit amet, #[a(href="#") consectetur adipiscing elit]. Cras in tincidunt neque, vel vulputate mauris. Donec sollicitudin metus sit amet risus rutrum dignissim. Nam non commodo dui. Curabitur sollicitudin purus a purus elementum posuere. Nullam vel mattis purus. Pellentesque eget tempus ipsum. In facilisis nibh vel consequat tristique. Etiam vitae varius lectus.

		p Sed ut ipsum sed felis pulvinar imperdiet. Curabitur luctus tellus neque, a feugiat sapien fermentum in. Etiam ut turpis a eros aliquam accumsan sit amet a elit. Aliquam euismod erat eu leo mattis, at finibus ex suscipit. Donec sit amet gravida odio, a pretium orci. Mauris interdum imperdiet sem a aliquam. Nulla facilisi. Sed venenatis felis in vulputate venenatis.

		pre(data-lang="HTML")
			code
				| &lt;p>...&lt;/p>

		h2 Semantic text elements

		p
			abbr i18n
			code &lt;abbr>
		p
			cite Citation
			code &lt;cite>
		p
			del Deleted
			code &lt;del>
		p
			i Italic
			code &lt;i>
		p
			kbd Ctrl + S
			code &lt;kbd>
		p
			samp Sample
			code &lt;samp>
		p
			b Bold
			code &lt;b>
		p
			code function()
			code &lt;code>
		p
			em Emphasis
			code &lt;em>
		p
			ins Inserted
			code &lt;ins>
		p
			s Strikethrough
			code &lt;s>
		p
			var 2 + 2
			code &lt;var>

		h2 Blockquote

		blockquote
			p "Fortune favours the prepared mind."
			cite -- Louis Pasteur

		pre(data-lang="HTML")
			code
				| &lt;blockquote>
				|	&lt;p>...&lt;/p>
				|	&lt;cite>-- Louis Pasteur&lt;/cite>
				| &lt;/blockquote>
	
		h2 Lists

		p
			ul
				li Alpha
				li Beta
					ul
						li Bravo
						li Bulldog
				li Omega

		p
			ol
				li Alpha
				li Beta
					ol(type='a')
						li Bravo
						li Bulldog
				li Omega

		pre(data-lang="HTML")
			code
				| &lt;ul>
				|	&lt;li>Alpha&lt;/li>
				|	&lt;li>Bravo&lt;/li>
				|	&lt;li>
				|		&lt;ul>
				|			&lt;li>Bravo&lt;/li>
				|			&lt;li>Bulldog&lt;/li>
				|		&lt;/ul>
				|	&lt;/li>
				|	&lt;li>Omega&lt;/li>
				| &lt;/ul>
				|

		h2 Buttons

		p
			button Default
			button.positive Positive
			button.negative Negative

		p
			a(href="#").button.primary Primary

		p
			button.lg Large
			button.sm Small

		p
			button.lg.primary.disabled Large Primary Disabled

		pre(data-lang="HTML")
			code
				| &lt;button>Default&lt;/button>
				| &lt;button class="positive">Positive&lt;/button>
				| &lt;button class="negative">Negative&lt;/button>
				| 
				| &lt;!-- Also with a link class .button -->
				| &lt;a href="#" class="button primary">Primary&lt;/a>
				| 
				| &lt;button class="lg">Large&lt;/button>
				| &lt;button class="sm">Small&lt;/button>
				|
				| &lt;button class="lg primary disabled">Large Primary Disabled&lt;/button>

		h2 Forms

		.container.xs
			form
				.form-row
					.form-control
						label Name
						input(type="text", placeholder="John")
					.form-control
						label Surname
						input(type="text", placeholder="Doe")

				.form-row
					.form-control
						label E-mail
						input(type="email", placeholder="email@example.com")
				
				.form-row
					.form-control
						label Web Browser
						.form-control-binary
							input(type="radio", name="browser", id="radio-firefox")
							label(for="radio-firefox") Firefox

						.form-control-binary
							input(type="radio", name="browser", id="radio-chrome")
							label(for="radio-chrome") Chrome

						.form-control-binary
							input(type="radio", name="browser", id="radio-safari")
							label(for="radio-safari") Safari

				.form-row
					.form-control
						label Operating System
						.form-control-binary
							input(type="checkbox", name="os", id="os-linux")
							label(for="os-linux") Linux

						.form-control-binary
							input(type="checkbox", name="os", id="os-mac")
							label(for="os-mac") Mac

						.form-control-binary
							input(type="checkbox", name="os", id="os-windows")
							label(for="os-windows") Windows

				.form-row
					input(type="submit").primary

		pre(data-lang="HTML")
			code
				|	&lt;form>
				|		&lt;div class="form-row">
				|			&lt;div class="form-control">
				|				&lt;label>Name&lt;/label>
				|				&lt;input type="text" placeholder="John"/>
				|			&lt;/div>
				|			&lt;div class="form-control">
				|				&lt;label>Surname&lt;/label>
				|				&lt;input type="text" placeholder="Doe"/>
				|			&lt;/div>
				|		&lt;/div>
				|		&lt;div class="form-row">
				|			&lt;div class="form-control">
				|				&lt;label>E-mail&lt;/label>
				|				&lt;input type="email" placeholder="email@example.com"/>
				|			&lt;/div>
				|		&lt;/div>
				|		&lt;div class="form-row">
				|			&lt;div class="form-control">
				|				&lt;label>Web Browser&lt;/label>
				|				&lt;div class="form-control-binary">
				|					&lt;input id="radio-firefox" type="radio" name="browser"/>
				|					&lt;label for="radio-firefox">Firefox&lt;/label>
				|				&lt;/div>
				|				&lt;div class="form-control-binary">
				|					&lt;input id="radio-chrome" type="radio" name="browser"/>
				|					&lt;label for="radio-chrome">Chrome&lt;/label>
				|				&lt;/div>
				|				&lt;div class="form-control-binary">
				|					&lt;input id="radio-safari" type="radio" name="browser"/>
				|					&lt;label for="radio-safari">Safari&lt;/label>
				|				&lt;/div>
				|			&lt;/div>
				|		&lt;/div>
				|		&lt;div class="form-row">
				|			&lt;div class="form-control">
				|				&lt;label>Operating System&lt;/label>
				|				&lt;div class="form-control-binary">
				|					&lt;input id="os-linux" type="checkbox" name="os"/>
				|					&lt;label for="os-linux">Linux&lt;/label>
				|				&lt;/div>
				|				&lt;div class="form-control-binary">
				|					&lt;input id="os-mac" type="checkbox" name="os"/>
				|					&lt;label for="os-mac">Mac&lt;/label>
				|				&lt;/div>
				|				&lt;div class="form-control-binary">
				|					&lt;input id="os-windows" type="checkbox" name="os"/>
				|					&lt;label for="os-windows">Windows&lt;/label>
				|				&lt;/div>
				|			&lt;/div>
				|		&lt;/div>
				|		&lt;div class="form-row">
				|			&lt;input class="primary" type="submit"/>
				|		&lt;/div>
				|	&lt;/form>
