*, *:before, *:after
	margin 0
	padding 0
	box-sizing border-box

:root
	font-size $html-font-size
	line-height $html-line-height

body
	background $body-background
	background-size cover
	color $color-text
	font-family $base-font
	font-size $font-size
	text-rendering optimizeLegibility
	overflow hidden

a
	color $color-link
	outline none
	text-decoration none
	mixin-hover-text-shadow($color-secondary)

img.responsive
	max-width 100%
	max-height 100%
	width auto
	height auto

hr
	border none
	height 1px
	background $color-text

@media screen and (max-width $size-xs)
	:root
		font-size ($html-font-size - 4px)

@media screen and (max-width $size-sm)
	:root
		font-size ($html-font-size - 2px)
