.button, button, input[type='submit'], input[type='reset']
	display inline-block
	border-radius $border-radius-lg

	color $color-text
	font-size $font-size
	padding $spacing $spacing-lg

	mixin-hover-gradient($color-secondary-negative, rgba($color-secondary-negative, .7))
