.button, button, input[type='submit'], input[type='reset']
	outline none
	border none
	appearance none

	cursor pointer
	border-radius $border-radius-lg

	color $color-text
	font-size $font-size
	padding $spacing $spacing-lg

	display inline-block
	vertical-align middle

	mixin-hover-gradient($color-secondary-light, rgba($color-secondary, .7))

	&:active
		color $color-text-dark

	&.positive
		mixin-hover-gradient($color-secondary-positive, rgba($color-secondary-positive, .7))

	&.negative
		mixin-hover-gradient($color-secondary-negative, rgba($color-secondary-negative, .7))

	&.disabled
		cursor default
		opacity $disabled-button-opacity

		&:hover
			background rgba($color-secondary, .7) 
		&:active
			color $color-text 

	&.lg
		font-size $font-size-xl
	&.sm
		font-size $font-size-sm
	
	&.primary
		font-family $header-font

	&.fill
		width 100%

