.form-row
	display flex
	flex-direction row

.form-control
	mixin-flex(1)
	padding $spacing

	label
		font-size $font-size-sm
		font-family $base-font

		user-select none

	input[type='text'], input[type='email'], input[type='number'] textarea
		appearance none
		outline none
		border none

		width 100%

		padding $spacing
		color $color-text
		font-family $base-font

		mixin-focus-gradient($color-secondary-light, rgba($color-secondary, .7))

		&::placeholder
			opacity $placeholder-opacity
			color $color-text-light

	textarea
		height $textarea-height

	.input-group
		display flex
		align-items center
		justify-content flex-start

		height $input-group-height

		*
			height 100%
		*:first-child 
			border-radius $input-group-radius 0 0 $input-group-radius 
		*:last-child
			border-radius 0 $input-group-radius $input-group-radius 0 
		*:not(:first-child):not(:last-child)
			border-radius 0
		

	.form-control-binary
		display flex
		flex-direction row
		align-items center
		background $color-secondary
		margin $spacing-sm 0

		input[type='radio'], input[type='checkbox']
			margin $spacing
			outline none

			height 1em
			width 1em

			appearance none
			-webkit-appearance none

			background transparent
			border .15em $color-text solid

			transition all $transition-time ease-in-out

		input[type='radio']
			border-radius 100%

			&:checked
				background $color-text

		input[type='checkbox']
			&:checked:after
				content '✓'
				display block
				font-weight 800
				color $color-text
				user-select none
				line-height 0.9em

		label
			padding 0 $spacing
			border-left 1px $color-primary solid
