.infobar
	padding $spacing $spacing-lg
	background $background

	display flex
	flex-direction row
	align-items center
	justify-content flex-start

	width 100%

	&.noselect
		user-select none
		cursor default

	&-icon
		padding 0 $spacing

	&-element
		padding 0 $spacing-lg
		text-align center

	&-element.fill
		mixin-flex(1)

	&-element.pull-right
		text-align right
	
	&-element.pull-left
		text-align left

	@media screen and (max-width $size-sm)
		overflow-x scroll
