.jumbotron
	background-position center
	background-repeat no-repeat
	background-size cover
	height $jumbotron-height
	border-radius $jumbotron-border-radius
	box-shadow inset 0 0 10px black

	display flex
	align-items center
	justify-content center

	position relative

	text-shadow 0 0 5px black

	&.alt
		color $color-secondary 
