// Layout components

.wrapper
	display flex

	height 100vh
	width 100%

.main
	mixin-flex($main-flex)

	display flex
	flex-direction column
	overflow-x hidden


	mixin-standard-gradient($background, transparent)

	@media screen and (max-width $size-sm)
		mixin-flex($main-flex-shrink)

.content
	animation fadein $fade-in-time ease-in-out
	height 100%
	overflow-y auto

.container
	margin 0 auto
	padding $spacing
	width 100%

	&.xs
		max-width $size-xs
	&.sm
		max-width $size-sm
	&.md
		max-width $size-md
	&.lg
		max-width $size-lg
	&.xl
		max-width $size-xl
	&.xxl
		max-width $size-2x

@keyframes fadein
	from
		opacity 0
	to
		opacity 1
