mixin-hover-box-shadow($color)
	transition box-shadow .3s ease-in-out

	&:hover
		box-shadow 0 0 0 .1rem rgba($color, .2)

mixin-hover-text-shadow($color)
	transition text-shadow .3s ease-in-out

	&:hover
		text-shadow 0 0 .1rem rgba($color, .2)
