.side-menu
	mixin-flex($side-menu-flex)
	height 100%

	display flex
	flex-direction $side-menu-direction
	align-items center
	justify-content space-around

	z-index 100

	transition all $transition-time ease-in-out

	background $background-semi-transparent
	box-shadow 5px 0 5px $color-secondary-dark

	&-element
		mixin-flex(1)
		height 100%
		display flex
		align-items center
		justify-content space-around

		font-size $font-size-lg
		font-family $header-font
		color $color-text

		mixin-hover-gradient(rgba($color-secondary-light, .7), transparent)

	&-logo
		mixin-flex(1)
		height 100%
		padding $spacing-lg
		display flex
		align-items center
		justify-content center

		img
			max-width 100%
			max-height 100%

	&-logo-small
		padding $spacing-sm
		display none

	@media screen and (min-width $size-sm + 1)	
		&-icon
			mixin-flex(1)
			padding 0 $spacing
			text-align center

		&-text
			mixin-flex(2)

		&-text:nth-child(1)
			text-align center

	@media screen and (max-width $size-sm)
		&-logo
			display none
		&-logo-small
			display block

		&-element
			flex-direction column
			justify-content center
			align-items center

			padding $spacing
			font-size $font-size-sm
			font-family $base-font

			text-align center

		&-icon
			font-size $font-size-lg !important

