h1, h2, h3, h4, h5, h6
	color inherit
	font-weight $header-weight
	font-family $header-font
	line-height 1.2
	margin-bottom .25em
	margin-top 0

h1
	font-size 2.2rem
h2
	font-size 1.7rem
h3
	font-size 1.5rem
h4
	font-size 1.2rem
h5
	font-size 1rem
	font-family $base-font
	text-transform uppercase
h6
	font-size 0.6rem
	font-family $base-font
	color $color-primary-light

a, ins, u 
	text-decoration-skip ink edges

p
	padding $spacing 0

ul, ol, dl
	display block
	padding-left 1.2em

kbd
	padding $spacing-sm
	border .05rem $color-text solid
	border-radius $border-radius
	font-size $font-size-sm

blockquote
	padding $spacing-sm $spacing-lg
	border-left $border-width solid $color-text
	color $color-text-dark

pre
	position relative
	tab-size 4

	&:before
		content attr(data-lang)
		display block
		position absolute
		background $background
		color $color-primary
		top $spacing
		right $spacing

code, .hljs
	background $background-semi-transparent
	padding $spacing
	margin $spacing 0
	position relative
	color $text

