h1, h2, h3, h4, h5, h6
	color inherit
	font-weight 600
	font-family $header-font
	line-height 1.2
	margin-bottom .25em
	margin-top 0

h1
	font-size 2rem
h2
	font-size 1.6rem
h3
	font-size 1.4rem
h4
	font-size 1.2rem
h5
	font-size 1rem
h6
	font-size 0.8rem

a, ins, u 
	text-decoration-skip ink edges

p
	padding $spacing 0

kbd
	padding $spacing-sm
	border .05rem $color-text solid
	border-radius $border-radius
	font-size $font-size-sm

blockquote
	padding $spacing-sm $spacing-lg
	border-left $border-width solid $color-text
	color $color-text-dark
