// External imports
@import url('https://fonts.googleapis.com/css?family=Cinzel')

// Color definitions
$color-primary = #445368
$color-secondary = #030F1E
$color-text = #C9DCF2

$color-primary-light = lighten($color-primary, 3%)
$color-primary-dark = darken($color-primary, 3%)

$color-secondary-light = lighten($color-secondary, 3%)
$color-secondary-dark = darken($color-secondary, 3%)

$color-text-light = lighten($color-text, 20%)
$color-text-dark = darken($color-text, 20%)

$color-link = $color-text-dark

$color-primary-positive = hue($color-primary, 120deg)
$color-secondary-positive = hue($color-secondary, 120deg)
$color-primary-negative = hue($color-primary, 0deg)
$color-secondary-negative = hue($color-secondary, 0deg)

// Main background
$background = $color-secondary-dark 
$body-background = url('https://i.imgur.com/xIywZzl.jpg') center center fixed
$background-semi-transparent = rgba($background, 0.65)

// Font stacks
$fallback-font= 'Helvetica Neue', 'Helvetica', sans-serif
$base-font= -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', $fallback-font
$header-font= 'Cinzel', 'Lora', 'Liberation Serif', 'Times New Roman', serif, $fallback-font

// Responsive breaks
$size-xs = 480px
$size-sm = 600px
$size-md = 840px
$size-lg = 960px
$size-xl = 1280px
$size-2x = 1440px

// Spacing
$spacing = .4rem
$spacing-sm = .2rem
$spacing-lg = .8rem

// Borders
$border-radius = .1rem
$border-radius-lg = .3rem
$border-width-sm = .05rem
$border-width = .1rem
$border-width-lg = 2rem

// Typography
$html-font-size = 20px
$html-line-height = 1.428571429
$font-size-lg = 1rem
$font-size = .7rem
$font-size-sm = .5rem

// Layout
$side-menu-flex = 1 //flex ratio
$main-flex = 3 //Flex ratio of the main section - default
$main-flex-shrink = 5 //Flex ratio of the main section on small screen

// Animation
$transition-time = .3s //base transition time for all status updates
$fade-in-time = .8s //.main fade-in animation
$fade-in-start = -5%

// Components
// // Jumbotron
$jumbotron-height = 12em
$jumbotron-border-radius = 0 0 $border-radius $border-radius 
